@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
#meus-filmes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 27px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  span.nothing {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
  }

  ul {
    padding: 0;
    li {
      padding: 0;
      list-style: none;
      min-width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      div a {
        margin-right: 7px;
        text-decoration: none;
        font-style: italic;
        color: cornflowerblue;
        cursor: pointer;
        transition: all 0.7s;
        font-size: 18px;
        &:hover {
          color: lightskyblue;
        }
      }
      div button {
        padding: 4px;
        color: gray;
        border-radius: 10px 10px 10px 10px;
        border: 0px;
      }
    }
    span {
      font-style: italic;
      font-family: "Staatliches", cursive;
      font-size: 23px;
    }
    button {
      margin-left: 10px;
    }
  }
}
